<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Update Experience</title>
</head>
<body>
    <section>
        <div class="card mr-3">
            <div class="card-body">
                <h1 class="text-center">Update Experience</h1>
                <div class="container-fluid mt-1">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <form action="#" th:object="${experience}" enctype="multipart/form-data" method="post" th:action="@{/user/process-update-experience}">
                                <!-- Hidden Experience ID -->
                                <input type="hidden" th:field="*{expId}" />

                                <!-- Organization Name -->
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-building"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="orgName" name="orgName" placeholder="Enter Organization Name Here" class="form-control" required="required" th:value="${experience.orgName}" />
                                </div>

                                <!-- Position -->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="orgPosition" name="orgPosition" placeholder="Enter Position Here" class="form-control" required="required" th:value="${experience.orgPosition}" />
                                </div>

                                <!-- About Position -->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-info-circle"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="orgPositionAbout" name="orgPositionAbout" placeholder="Enter Information About Position Here" class="form-control" required="required" th:value="${experience.orgPositionAbout}" />
                                </div>

                                <!-- Image File -->
                                <div class="custom-file mt-3">
                                    <p>
                                        Choose Organization Image: <input type="file" name="experience.orgImg" />
                                    </p>
                                    <p><img th:if="${experience.orgImg}" th:src="@{'/uploads/experiences/'+ ${experience.orgImg}}" alt="Image" class="img-thumbnail" style="height: 80px;" /></p>
                                </div>


                                <!-- Submit Button -->
                                <div class="container text-center mt-3">
                                    <button class="btn btn-outline-primary">Update Experience</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
